.add_todo_form {
  background-color: #eae7e7;
  padding: 15px 20px;
  margin-bottom: 20px;


}

.form_content {
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.todo_title {
  min-width: 80%;
}

.todo_endDate {
  margin-left: 0px;
}

